---
import MobileMenuButton from "../components/MobileMenuButton.jsx";
import "@fontsource-variable/playfair-display";
import "@fontsource-variable/raleway";
import "@fontsource-variable/montserrat";
import ToastContainerComponent from '../components/ToastContainerComponent.tsx'
---

<!doctype html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />

    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/png" href="/icon.png" />
    <title>V & C</title>
  </head>

  <body
    class="m-0 w-screen overflow-x-hidden h-full flex flex-col min-h-screen text-[#f7c8a3] font-medium relative"
  >
    <!--Repeating background-->
    <div 
      class="absolute top-32 bottom-0 right-0 left-0 opacity-[0.01] -z-10"
      style="background-image: url(/bg.png); background-size: 500px 500px;"
    />
    <!-- Sticky Navbar -->
    <nav
      class="sticky top-0 z-50 bg-rose-950/75 text-gold px-12 py-8 flex justify-between items-center shadow-md backdrop-blur-lg"
    >
      <div class="text-2xl font-bold">
        <a href="/" class="text-3xl">V&C</a>
      </div>

      <!-- Desktop Nav -->
      <div class="hidden md:flex gap-6 raleway font-bold pt-2 ml-auto">
        <a href="/" class="text-base after:mt-0.5 after:opacity-60 after:block after:w-0 after:h-1 after:rounded-xs after:bg-[#f7c8a3] after:transition-all hover:after:w-full">INICIO</a>
        <a href="/itinerary" class="text-base after:mt-0.5 after:opacity-60 after:block after:w-0 after:h-1 after:rounded-xs after:bg-[#f7c8a3] after:transition-all hover:after:w-full">PROGRAMA</a>
        <a href="/rsvp" class="text-base after:mt-0.5 after:opacity-60 after:block after:w-0 after:h-1 after:rounded-xs after:bg-[#f7c8a3] after:transition-all hover:after:w-full">ASISTENCIA</a>
        <a href="/gifts" class="text-base after:mt-0.5 after:opacity-60 after:block after:w-0 after:h-1 after:rounded-xs after:bg-[#f7c8a3] after:transition-all hover:after:w-full">REGALOS</a>
        <!--<a href="/gallery" class="text-base after:mt-0.5 after:opacity-60 after:block after:w-0 after:h-1 after:rounded-xs after:bg-[#f7c8a3] after:transition-all hover:after:w-full">GALERÍA</a>-->
      </div>

      <!-- Mobile Menu -->
      <MobileMenuButton client:load />
      <!--<ToastContainerComponent client:load/>-->
    </nav>

    <!-- Main Content -->
    <main class="flex-1 w-full">
      <slot />
    </main>
  </body>
</html>